.madimi-one-regular {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#playerBox {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  gap: 30px;
}

#compBox {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 30px;
}

#gameBox {
  display: flex;
  gap: 100px;
  padding-top: 150px;
}

body {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-height: 98vh;
  font-family: "Madimi One", sans-serif;
}

h2,
h3 {
  text-align: center;
}

#buttons {
  display: flex;
  flex-flow: row;
  padding: 0px;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
}

#myScoreboard {
  background-color: blue;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  color: white;
  font-size: 17px;
  text-align: center;
  margin-right: 50px;
  box-shadow: #0000ff65 -5px 5px, #0000ff46 -10px 10px, #0000ff3b -15px 15px,
    #0000ff25 -20px 20px, #0000ff0d -25px 25px;
}

#pcScoreboard {
  background-color: red;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  color: white;
  font-size: 17px;
  text-align: center;
  margin-left: 50px;
  box-shadow: #ff000065 5px 5px, #ff000046 10px 10px, #ff00003b 15px 15px,
    #ff000025 20px 20px, #f02eaa0d 25px 25px;
}

#pcZone {
  border: solid #ff0000 30px;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  box-shadow: #ff000065 5px 5px, #ff000046 10px 10px, #ff00003b 15px 15px,
    #ff000025 20px 20px, #f02eaa0d 25px 25px;
}

#myZone {
  border: solid #0000ff 30px;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  box-shadow: #0000ff65 -5px 5px, #0000ff46 -10px 10px, #0000ff3b -15px 15px,
    #0000ff25 -20px 20px, #0000ff0d -25px 25px;
}

#gameBox img {
  height: 220px;
  width: 220px;
  padding: 30px;
}

#rockButton,
#paperButton,
#scissorsButton {
  height: 100px;
  width: 100px;
}

.lower {
  display: flex;
}

.footer img {
  height: 50px;
  width: 50px;
  padding-right: 10px;
}

.footer {
  display: flex;
  justify-content: flex-start;
  margin-top: auto;
  margin-right: auto;
}

#round {
  padding: 10px;
  border-radius: 30px;
}
